@model List<LNGCore.UI.Models.CustomOrderViewModel>

<table id="tblOrnaments" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Shape</th>
            <th>Design</th>
            <th>Instructions</th>
            <th>Amount</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <th colspan="5">
                    <h4 class="text-center">You haven't added any ornaments yet!</h4>
                </th>
            </tr>
        }
        else
        {
            foreach (var ornament in Model)
            {
                <tr>
                    <td>@ornament.OrnamentShape</td>
                    <td>@ornament.OrnamentDesign</td>
                    <td>@ornament.SpecialInstructions</td>
                    <td>@ornament.Amount</td>
                    <td>
                        <a href="@Url.Action("RemoveOrnament","CustomOrder", new {ornament.Id})">Remove</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>