@model LNGCore.UI.Models.CustomOrderViewModel

<table id="tblOrnaments" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Style</th>
            <th>Design</th>
            <th>Desc.</th>
            <th style="width: 1%;">Amt.</th>
            <th style="width: 1%;"></th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.ExistingOrders.Any())
        {
            <tr>
                <th colspan="5">
                    <h4 class="text-center">You haven't added any ornaments yet!</h4>
                </th>
            </tr>
        }
        else
        {
            foreach (var ornament in Model.ExistingOrders)
            {
                <tr>
                    <td>@ornament.OrnamentStyle</td>
                    <td>@ornament.OrnamentDesign</td>
                    <td>@ornament.SpecialInstructions</td>
                    <td>@ornament.Amount</td>
                    <td>
                        <a href="@Url.Action("RemoveOrnament","CustomOrder", new {ornament.Id})"><span class="fa fa-trash-alt"></span></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
