@model LNGCore.UI.Models.CustomOrderViewModel
@{
    ViewData["Title"] = "Index";
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function() {
        UpdateSampleShape();
        UpdateSampleImage();
    });
    function UpdateSampleImage() {
        var imgName = $(".ornament-design").val();
        var filePath = "/images/OrnamentDesigns/" + imgName + ".jpg";
        $("#imgPreview").attr("src", filePath);
    }

    function UpdateSampleShape() {
        var fieldValue = $(".ornament-style").val();
        var fieldArray = fieldValue.replace(/([A-Z])/g, ' $1').trim().split(' ');

        var color = fieldArray[0];
        var shape = fieldArray[1].toLowerCase();

        switch (color) {
            case "Rustic":
                color = "#7e5738";
                break;
            case "Brown":
                color = "#c38e5c";
                break;
        }

        var span = '<span style="color:' + color + ';" class="fas fa-' + shape + ' fa-2x pt-lg-4 mt-lg-2"></span>';
        $("#shapeContainer").html(span);
    }

    grecaptcha.ready(function () {
        grecaptcha.execute('@Model.GooglePublicKey', { action: 'lng_ornament_order' })
            .then(function (token) {
                console.log(token);
                $("#btnSubmitOrder").prop("href", "@Url.Action("SaveOrder", "CustomOrder", new { googleToken = "__TOKEN__" })".replace("__TOKEN__", token));
            });
    });
</script>
<div class="container">
    <h3>Leatherette Ornament Order Form</h3>
    <div class="alert alert-info text-center">
        <h6>Items ordered on or before <strong>11/30/2018</strong> will be delivered on or before <strong>12/08/2018.</strong></h6>
        <h6 class="m-0">Orders after <strong>11/30/2018</strong> will be shipped as soon as possible <span class="text-danger">but may be delayed or cancelled due to low stock.</span></h6>
    </div>
    <h5 class="text-center pt-2">Add ornaments to your order, then click "Submit Order" to send your order to us for processing.</h5>
    <hr />
    @using (Html.BeginForm("AddOrnament", "CustomOrder", FormMethod.Post))
    {
        @Html.HiddenFor(f => f.ExistingOrders, Model.ExistingOrders)
        @Html.AntiForgeryToken()

        <div class="text-danger">
            @Html.ValidationSummary()
        </div>

        <div class="form-row">
            <div class="col-lg-8">
                <div class="form-row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Your Name</label>
                            <input class="form-control form-control-sm" asp-for="NewOrder.UserName" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Your Email</label>
                            <input class="form-control form-control-sm" asp-for="NewOrder.UserEmail" />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Ornament Design</label>
                            <select onchange="UpdateSampleImage();" asp-for="NewOrder.OrnamentDesign" id="ornamentDesign" class="form-control form-control-sm ornament-design">
                                <option value="ChildFirstChristmasRockingHorse">Baby's First Christmas (Rocking Horse)</option>
                                <option value="ChildFirstChristmasTruck">Baby's First Christmas (Truck)</option>
                                <option value="ChildFirstChristmasStatsTractor">Baby's First Christmas Stats (Tractor)</option>
                                <option value="ChildFirstChristmasStatsTruck">Baby's First Christmas Stats (Truck)</option>
                                <option value="ChildFirstChristmasStatsBear">Baby's First Christmas Stats (Bear)</option>
                                <option value="FirstChristmasEngaged">Our First Christmas (Engaged)</option>
                                <option value="FirstChristmasMarried">Our First Christmas (Married)</option>
                                <option value="FirstChristmasParents">Our First Christmas (Parents)</option>
                                <option value="FirstChristmasGrandparents">Our First Christmas (Grandparents)</option>
                                <option value="OurNewHome">Our New Home</option>
                                <option value="AngelInHeavenGrandma">Grandma, Angel In Heaven</option>
                                <option value="Always">After All This Time - Always</option>
                                <option value="CatHappyHolidays">Happy Holidays - Cat</option>
                                <option value="CatMerryChristmas">Merry Christmas - Cat</option>
                                <option value="FelizNaughtyDog">Feliz Naughty Dog</option>
                                <option value="custom">Custom (describe)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label>Ornament Shape & Color</label>
                            <select onchange="UpdateSampleShape();" asp-for="NewOrder.OrnamentStyle" class="form-control form-control-sm ornament-style">
                                <option value="RusticTree">Rustic Tree</option>
                                <option value="BrownTree">Brown Tree</option>
                                <option value="RusticCircle">Rustic Circle</option>
                                <option value="BrownCircle">Brown Circle</option>
                                <option value="RusticStar">Rustic Star</option>
                                <option value="BrownStar">Brown Star</option>
                            </select>
                        </div>
                    </div>
                    <div id="shapeContainer" class="col-lg-1 text-center">

                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-10">
                        <div class="form-group">
                            <label>Description / Special Instructions</label>
                            <textarea asp-for="NewOrder.SpecialInstructions" class="form-control form-control-sm" rows="3" placeholder="Example: For the names please put..."></textarea>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group mb-2">
                            <label>Amount</label>
                            <input asp-for="NewOrder.Amount" class="form-control form-control-sm" type="number" max="99" min="1" value="1" />
                        </div>
                        <button type="submit" class="btn btn-sm btn-block btn-success"><span class="fas fa-plus pr-1"></span>Add</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pt-lg-0 pt-4 text-center">
                <img id="imgPreview" alt="Design Image" style="width:75%" src="#" />
            </div>
        </div>


    }
    <div class="pt-3">
        <partial model="Model" name="_OrnamentOrderTable" />
    </div>

    <div class="text-center">
        @if (Model.ExistingOrders.Any())
        {
            <h3>SubTotal: @Model.TotalCost</h3>
            <p>
                <small class="text-muted">Plus tax and shipping if applicable</small>
            </p>
            <a id="btnSubmitOrder" href="#" class="btn btn-lg btn-success">Looks Good - Submit My Order</a>

        }
    </div>
</div>
