@model LNGCore.UI.Models.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<script>
    @*$(document).ready(() => {
        $.ajax({
            url: "@Url.Action("GetBills", "Home")",
            success: function (data) {
                console.log("data");
                console.log(data);
            }
        })
    });
    $(document).ready(() => {
        $.ajax({
            url: "@Url.Action("GetCustomers", "Home")",
            success: function (data) {
                console.log("customers");
                console.log(data);
            }
        })
    });
    $(document).ready(() => {
        $.ajax({
            url: "@Url.Action("GetCustomerFromInvoice", "Home")",
            success: function (data) {
                console.log("single customer");
                console.log(data);
            }
        })
    });*@
</script>
<div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="8000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/images/frontpagecarousel/slide1.jpeg">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="text-shadow">Wow look a thing!</h1>
                    <p class="text-shadow">it's a nice thing</p>
                    <button class="btn btn-xs btn-success">Buy the thing</button>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/frontpagecarousel/slide2.jpeg">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="text-shadow">Whoa another thing!</h1>
                    <p class="text-shadow">it's also a pretty nice thing</p>
                    <button class="btn btn-xs btn-success">Buy this thing too</button>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <p class="mb-5" />
    <div id="listingsContainer" class="text-center">
        <div class="row">
            @foreach (var listing in Model.EtsyListing.results.Select((value, index) => new { index, value }))
            {
                if (listing.index % 3 == 0)
                {
                @:</div>
                @:<div class="row">
                }
                <div class="col-md-4 mb-5">
                    <a class="no-decoration" target="_blank" href="@listing.value.url">
                        <div class="thumbContainer" style="background-image:url('@listing.value.Images[0].url_570xN');"></div>
                        <p class="small m-0">@listing.value.title</p>
                        <p class="small m-0 font-weight-bold no-hover-color">@listing.value.price</p>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="">
        @foreach (var customer in Model.Customers)
        {
            <h4>@($"{customer.Name} - {(customer.BusinessName ?? "No business name")}")</h4>
            <ul>
                @foreach (var invoice in customer.Invoice)
                {
                    <li>@($"{invoice.Id} - {invoice.LineItem.Sum(s => s.ItemPrice)}")</li>
                }
            </ul>
        }
    </div>
</div>
