@model LNGCore.UI.Models.Admin.EditCustomerViewModel
<script>
    $(document).ready(function () {
        validateForm();
    });
    function validateForm() {
        $.validator.unobtrusive.parse("#formEditCustomer");
    }
    function showTaxId(checkbox) {
        var isTaxable = $(checkbox).prop("checked");

        if (isTaxable) {
            $("#taxIdGroup").hide();
            $("#TaxId").attr("data-val", false).removeClass("required");
        } else {
            $("#taxIdGroup").show();
            $("#TaxId").attr("data-val", true).addClass("required");
        }
        validateForm();
    }

</script>

@using (Html.BeginForm("EditCustomer", "Customer", FormMethod.Post, new { id = "formEditCustomer" }))
{
    @Html.HiddenFor(f => f.Id)
    @Html.HiddenFor(f => f.ShowSuccessMessage)
    <div class="card m-0">
        <div class="card-header">
            <h4 class="m-0">@(Model.Id == 0 ? "Add New Contact" : $"Edit {(!string.IsNullOrWhiteSpace(Model.DisplayName) ? Model.DisplayName : "Customer")}")</h4>
        </div>
        <div class="card-body">
            <div class="card bg-info text-white">
                <div class="card-body p-2">
                    <strong>Contact Name</strong> is the only required field. If the user is tax-exempt, we require a <strong>Tax ID</strong>.
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(f => f.Name)
                        @Html.TextBoxFor(f => f.Name, new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(f => f.BusinessName)
                        @Html.TextBoxFor(f => f.BusinessName, new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(f => f.Email)
                        @Html.TextBoxFor(f => f.Email, new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(f => f.SecondaryEmail)
                        @Html.TextBoxFor(f => f.SecondaryEmail, new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(f => f.BusinessPhone)
                        @Html.TextBoxFor(f => f.BusinessPhone, new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(f => f.AltPhone)
                        @Html.TextBoxFor(f => f.AltPhone, new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(f => f.Street)
                        @Html.TextBoxFor(f => f.Street, new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(f => f.PostBox)
                        @Html.TextBoxFor(f => f.PostBox, new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(f => f.City)
                        @Html.TextBoxFor(f => f.City, new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(f => f.State)
                        @Html.TextBoxFor(f => f.State, new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(f => f.ZipCode)
                        @Html.TextBoxFor(f => f.ZipCode, new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(f => f.Taxable)
                @Html.CheckBoxFor(f => f.Taxable, new { @class = "checkbox-lg", onchange = "showTaxId(this);" })
            </div>
            <div class="form-group" id="taxIdGroup" style="@(Model.Taxable ? "display: none;" : "")">
                @Html.LabelFor(f => f.TaxId)
                @Html.TextBoxFor(f => f.TaxId, new { @class = "form-control form-control-sm", data_val = "false", data_val_required = "The email is required" })
            </div>
            <div class="text-center">
                <button type="button" onclick="submitContactSaveForm();" class="btn btn-sm btn-success">Save Contact</button>
                <button type="button" data-dismiss="modal" class="btn btn-sm btn-secondary">Cancel</button>
            </div>
        </div>
    </div>
}