@model LNGCore.UI.Models.Admin.InvoiceViewModel


<div class="card semi-transparent rounded-0 border-top-0">
    <div class="card-header semi-transparent">
        <h4 class="m-0">@Model.ViewTitle</h4>
    </div>
    <div class="card-body">
        @if (Model.Invoices.Any())
        {
            if (Model.PaginationParameters.NumberOfPages > 1)
            {
                <partial name="_Pagination" model="Model.PaginationParameters" />
            }

            foreach (var invoice in Model.Invoices)
            {
                <div class="pb-2" id="invoice@(invoice.Id)">
                    <div class="card semi-transparent">
                        <div class="card-body slight-border p-2">
                            <div class="row no-gutters">
                                <div class="col-lg-2 text-center text-left-lg">
                                    <span class="h5 d-lg-block m-0 pointer" data-toggle="tooltip" data-placement="left" title="Customer #@invoice.CustomerId">@invoice.Customer.Name</span>
                                </div>
                                <div class="col-lg-3 text-center">
                                    <small class="text-info d-none d-lg-block">
                                        Ordered <span class="font-weight-bold">@invoice.OrderDate.ToString("d")</span>
                                    </small>
                                    <small class="text-danger d-block">
                                        Needed <span class="font-weight-bold">@invoice.OrderDate.ToString("d")</span>
                                    </small>
                                    <small class="text-success d-block pointer">
                                        Emailed 3 Times
                                    </small>
                                    <hr class="d-lg-none my-1" />
                                </div>
                                <div class="col-lg-5 pr-lg-4">
                                    <small>
                                        @(string.IsNullOrWhiteSpace(invoice.Notes) ? "No Notes." : invoice.Notes)
                                    </small>
                                </div>
                                <div class="col-lg-2 text-right">
                                    <small class="text-secondary">@($"{invoice.LineItem.Count()} Item{(invoice.LineItem.Count() > 1 ? "s" : "")} | #{@invoice.Id}")</small>
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-outline-primary dropdown-toggle" data-display="static" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            I Want To...
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="dropdownMenuButton">
                                            <span class="pointer dropdown-item" onclick="markPaid(@invoice.Id);">
                                                Mark Invoice Paid
                                                <span class="text-success fas fa-check"></span>
                                            </span>
                                            <a class="pointer dropdown-item" href="@Url.Action("EditInvoice", "Invoice", new {invoiceId = invoice.Id})">
                                                Edit Invoice
                                                <span class="text-warning fas fa-edit"></span>
                                            </a>
                                            <span class="pointer dropdown-item" onclick="emailInvoice(@invoice.Id);">
                                                Email Invoice
                                                <span class="text-info far fa-envelope"></span>
                                            </span>
                                            <span class="pointer dropdown-item" onclick="printInvoice(@invoice.Id);">
                                                Print Invoice
                                                <span class="text-success-alt fas fa-print"></span>
                                            </span>
                                            <span class="pointer dropdown-item" onclick="voidInvoice(@invoice.Id);">
                                                Void Invoice
                                                <span class="text-danger fas fa-trash"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            if (Model.PaginationParameters.NumberOfPages > 1)
            {
                <partial name="_Pagination" model="Model.PaginationParameters" />
            }

        }
        else
        {
            var searchTermText = $" for search term \"{Model.SearchTerm}\"";
            <h2 class="text-center">@($"No Items Found{(string.IsNullOrWhiteSpace(Model.SearchTerm) ? "" : searchTermText)}.")</h2>
        }
    </div>
</div>


<script>
    function markPaid(invoiceId) {
        Swal.fire({
            text: "Are you sure you want to mark this invoice as paid?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#57c386',
            cancelButtonColor: '#888',
            confirmButtonText: 'Yes, Mark Paid'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: "@Url.Action("MarkInvoicePaid", "Invoice", new {invoiceId = "__INVOICE__"})".replace("__INVOICE__", invoiceId),
                    success: function () {
                        var timerInterval;
                        Swal.fire({
                            position: 'middle',
                            type: 'success',
                            title: 'Success',
                            html: 'The invoice has been marked paid and moved to the Paid Invoices tab.' +
                                '<br /><br />' +
                                '<div class="progress">' +
                                '<div class="progress-bar progress-bar-striped bg-success progress-bar-animated" id="successProgress"' +
                                ' role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>' +
                                '</div>',
                            showConfirmButton: false,
                            timer: 4000,
                            onBeforeOpen: function() {
                                timerInterval = setInterval(function () {
                                    var timeLeft = Swal.getTimerLeft();
                                    if (timeLeft === undefined) {
                                        clearInterval(timerInterval); //stops interval loop if the timer is out of time
                                    } else {
                                        //swal sends milliseconds left, flipping and adding total timer gives upward count
                                        var progress = (((Swal.getTimerLeft() * -1) + 4000) / 100).toFixed(0);

                                        //putting final value over 100% will give a few milliseconds at the end to finish animation (5*4 is 120% total, so the bar will be full 1 second early)
                                        $("#successProgress").css("width", progress*5 + "%");
                                    }
                                 },
                             100);
                            }
                        });
                        $("#invoice" + invoiceId).remove();
                    },
                    error: function() {
                        Swal.fire({
                            type: 'error',
                            text: 'Something went wrong.... invoice could not be marked as paid. Does it still exist? Reload the page and try again.'
                        });
                    }
                });
            }
        });
    }
</script>