@using System.Web
@model LNGCore.UI.Models.Admin.LineItemSuggestionViewModel
<div class="card semi-transparent">
    <div class="card-header semi-transparent">
        <div class="row">
            <div class="col-9">
                <h4 class="m-0">Pricing History</h4>
            </div>
            <div class="col-3 text-right">
                <span data-dismiss="modal" class="btn btn-sm btn-primary pointer"><span class="fas fa-times"></span></span>
            </div>
        </div>
    </div>
    <div class="card-body">

        @if (Model.CustomerLineItems.Any())
        {
            <div class="mb-4 border border-light" style="max-height:300px; overflow-y:scroll;">
                <table class="table table-sm table-striped table-bordered table-hover semi-transparent w-100">                  
                    <thead>
                        <tr>
                            <th class="text-center" colspan="5">
                                <h4>Customer History</h4>
                            </th>
                        </tr>
                        <tr>
                            <th>Item Type</th>
                            <th colspan="2">Description</th>
                            <th>Price/ea</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var line in Model.CustomerLineItems)
                        {
                            <tr class="pointer" onclick="setSuggestedValues('@HttpUtility.JavaScriptStringEncode(line.ItemDesc)', '@line.ItemPrice', @line.ItemId, @Model.LineIndex);">
                                <td>@line.Item.ItemName</td>
                                <td colspan="2">@line.ItemDesc</td>
                                <td class="text-center">@line.ItemPrice?.ToString("c")</td>
                                <td class="text-center">@line.Invoice?.OrderDate.ToString("M/d/yy")</td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        }
        @if (Model.OverallLineItems.Any())
        {
            <div class="border border-light" style="max-height:300px; overflow-y:scroll;">
                <table class="table table-sm table-striped table-bordered table-hover w-100 semi-transparent">
                    <thead>
                        <tr>
                            <th class="text-center" colspan="5">
                                <h4>Overall History</h4>
                            </th>
                        </tr>
                        <tr>
                            <th>Customer</th>
                            <th>Item Type</th>
                            <th>Description</th>
                            <th>Price/ea</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var line in Model.OverallLineItems)
                        {
                            <tr class="pointer" onclick="setSuggestedValues('@HttpUtility.JavaScriptStringEncode(line.ItemDesc)', '@line.ItemPrice', @line.ItemId, @Model.LineIndex);">
                                <td>@line.Invoice?.Customer.Name</td>
                                <td>@line.Item.ItemName</td>
                                <td>@line.ItemDesc</td>
                                <td>@line.ItemPrice?.ToString("c")</td>
                                <td>@line.Invoice?.OrderDate.ToString("M/d/yy")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        @if (!Model.CustomerLineItems.Any() && !Model.OverallLineItems.Any())
        {
            <h4>No Suggestions.</h4>
        }

    </div>
</div>