@using static LNGCore.Domain.Infrastructure.Enums
@model LNGCore.UI.Models.Admin.InvoiceViewModel
@{
    ViewData["Title"] = "Invoice Master";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<script>
    function getTabBody(tabId, page) {
        var url = "@Html.Raw(Url.Action("Index", "Invoice", new { type = "__TYPE__", page = "__PAGE__", searchTerm = Model.SearchTerm }))";
        window.location.href = url.replace("__PAGE__", page).replace("__TYPE__", tabId);
    }

    function clearSearch() {
        $("#searchTerm").val("");
        $("#formSearch").submit();
    }
</script>
<div class="row pb-3">
    <div class="col-6">
        <a href="@Url.Action("EditInvoice", "Invoice", new {invoiceId = 0})" class="btn btn-sm btn-success" onclick=""><span class="fas fa-plus"></span> Add Invoice</a>
    </div>
    <div class="col-sm-4 offset-2">

        @using (Html.BeginForm("Index", "Invoice", FormMethod.Get, new { id = "formSearch" }))
        {
        @Html.Hidden("type", Model.PaginationParameters.InvoiceType)
        <div class="input-group input-group-sm">
            <input name="searchTerm" id="searchTerm" type="text" class="form-control border-info" value="@Model.SearchTerm" />
            <span class="input-group-append">
                <button class="btn btn-info" type="submit">Search</button>
            </span>
            <span class="input-group-append">
                <button class="btn btn-secondary" type="button" onclick="clearSearch()">Clear</button>
            </span>
        </div>
        }

    </div>
</div>
<ul class="nav nav-tabs" id="invoicesTab">
    @foreach (var type in (InvoiceTypeEnum[])Enum.GetValues(typeof(InvoiceTypeEnum)))
    {
        string tabTitle = string.Empty;
        switch (type)
        {
            case InvoiceTypeEnum.Open:
                tabTitle = "Open Invoices";
                break;
            case InvoiceTypeEnum.Paid:
                tabTitle = "Paid Invoices";
                break;
            case InvoiceTypeEnum.Donated:
                tabTitle = "Donated Items";
                break;
            case InvoiceTypeEnum.Voided:
                tabTitle = "Voided Items";
                break;
            case InvoiceTypeEnum.Quote:
                tabTitle = "Open Quotes";
                break;
            default:
                break;
        }
        <li class="nav-item">
            <a class="nav-link @(Model.InvoiceType == type ? "active" : "")" href="@Url.Action("Index", "Invoice", new {type = (int) type, page = 1, searchTerm = Model.SearchTerm})">@tabTitle</a>
        </li>
    }
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="tabBody">
        <partial name="_InvoiceItems" model="Model" />
    </div>
</div>
