@model LNGCore.UI.Models.Admin.ViewInvoiceViewModel
@{
    ViewData["Title"] = "ViewInvoice";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script>
    $(window).resize(function () {
        resizeEmbed();
    });
    $(document).ready(function () {
        resizeEmbed();
    });
    function resizeEmbed() {
        var width = $("#pdfEmbed").width();
        $("#pdfEmbed").height(width * 1.4);
    }
    function checkSecondary(control) {
        var text = $(control);
        var check = $("#SendToSecondary");
        if (text.val() != "") {
            check.attr("checked", "checked");
        } else {
            check.attr("checked", null);
        }

    }
</script>

<div class="row">
    <div class="col-lg-5">
        <div class="card semi-transparent mb-3">
            <div class="card-header semi-transparent d-flex justify-content-between">
                <h4 class="m-0">
                    Email Options
                </h4>
                <a class="btn btn-sm btn-info" href="@Url.Action("EditInvoice","Invoice", new {invoiceId = Model.Invoice.Id})">Edit Invoice</a> 
            </div>
            <div class="card-body">
                @using (Html.BeginForm("SendInvoiceEmail", "Invoice", FormMethod.Post, new {id = "formSendEmail"}))
                {
                    @Html.Hidden("InvoiceId", Model.Invoice.Id)
                    @Html.Hidden("CustomerId", Model.Invoice.CustomerId)
                    <div class="alert alert-primary mb-3">
                        <strong>Note:</strong> Primary email is not editable. Uncheck Primary if you do not wish to send an email to the primary email on file.
                    </div>
                    <h5 class="m-0">Primary Email</h5>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                @Html.CheckBox("SendToPrimary", true, new { @class = "scale-up-50" })
                            </div>
                        </div>
                        <label for="SendToPrimary" type="text" class="form-control disabled pointer disable-select overflow-hide">@Model.Invoice.Customer.Email</label>
                        @Html.Hidden("PrimaryEmail", Model.Invoice.Customer.Email)
                    </div>
                    <h5 class="m-0">Secondary Email</h5>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                @Html.CheckBox("SendToSecondary", !string.IsNullOrWhiteSpace(Model.Invoice.Customer.SecondaryEmail), new { @class = "scale-up-50" })
                            </div>
                        </div>
                        <input id="SecondaryEmail" name="SecondaryEmail" onchange="checkSecondary(this);" type="email" class="form-control" value="@Model.Invoice.Customer.SecondaryEmail" />
                    </div>
                    <div class="small text-muted mb-3 text-right">Optional and Editable</div>
                    <h5 class="m-0">Email Text</h5>
                    @Html.TextArea("Note", $"Hello, attached you will find information regarding your order number {Model.Invoice.Id}. \n\r If you have any questions, please do not hesitate to email us at info@lnglaserworks.com or reply to this email. ", new { rows = 6, @class = "form-control" })
                    <div class="small text-muted text-right">Optional</div>
                    <div class="ml-1 mb-2">
                        @Html.CheckBox("SendToCompany", true, new { @class = "scale-up-50" }) <label class="pointer disable-select" for="SendToCompany"><span class="h5 m-0 ml-2">Send Copy To LNG</span></label>
                    </div>
                    <button type="button" onclick="getConfirmation(this);" class="btn btn-sm btn-success">Send This Invoice</button>
                }
            </div>
        </div>
        <div class="card semi-transparent mb-3">
            <div class="card-header semi-transparent">
                <h4 class="m-0">
                    Internal Notes
                </h4>
            </div>
            <div class="card-body">
                @Model.Invoice.Notes
            </div>
        </div>
    </div>
    <div class="col-lg-7">     
        <embed id="pdfEmbed" src="@Url.Action("GetInvoicePdfFile","Invoice", new {invoiceId = Model.Invoice.Id})" type="application/pdf" style="height:1000px; width:100%;" />
    </div>
</div>
<script>
    function getConfirmation(btn) {
        if (confirm('Are you sure you want to send this invoice? Double check the recipients you are sending to!')) {
            $(btn).html("Sending...do not close this window...");
            $(btn).prop("disabled", true);
            $("#formSendEmail").submit();            
        }
        return false;
    }
</script>