<nav class="navbar navbar-expand-lg navbar-light semi-transparent">
    <div class="container">
        <a class="navbar-brand" href="@Url.Action("Index", "Dashboard")">LNG Laserworks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                @{
                    var navItems = new List<Tuple<string, string, string>> {//controller, action, desc
                        new Tuple<string,string,string>("Dashboard", "Index", "Home"),
                        new Tuple<string,string,string>("Invoice", "Index", "Invoices"),
                        new Tuple<string,string,string>("Customer", "Index", "Customers"),
                        new Tuple<string,string,string>("Item", "Index", "Item Types"),
                        new Tuple<string,string,string>("PriceList", "Index", "Price List"),
                        new Tuple<string,string,string>("Invoice", "ViewReports", "View Reports"),
                        new Tuple<string,string,string>("Configuration", "Index", "Configuration")
                    };

                    foreach (var nav in navItems)
                    {
                        <li class="nav-item @(nav.Item3.ToLower() == ViewBag.ActiveAction?.ToString().ToLower() ? "active" : "")">
                            <a class="nav-link" asp-controller="@nav.Item1" asp-action="@nav.Item2">@nav.Item3</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>