@model LNGCore.Domain.Database.Event
    <div class="card semi-transparent">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3">
                    <h3 class="m-0">@Model.EventName</h3>
                    <span class="fas fa-clock"></span><span class="pl-1">@($"{Model.RecurringDate ?? Model.EventDate:d}")</span>
                    @if (Model.Recurring)
                    {
                        <div class="text-warning">
                            <i>Recurring Event.</i>
                            <br class="d-none d-lg-block" />
                            <i>@($"Original Date: {Model.EventDate:d}")</i>
                        </div>
                    }
                </div>
                <div class="col-lg-7">
                    <h5 class="text-info">
                        @if (!Model.Recurring && Model.EventDate < DateTime.Now.Date)
                        {
                            <text>This event has passed.</text>
                        }
                        else
                        {
                            @Html.Raw($"Approximately <strong>{((Model.RecurringDate ?? Model.EventDate) - DateTime.Now.Date).Days}</strong> days until event.")
                        }
                    </h5>
                    @Model.EventDescription
                </div>
                <div class="col-lg-2 pt-2 pt-lg-0 text-right">
                    <div class="text-info pointer pr-1" onclick="editEvent(@Model.Id);">
                        <span class="fas fa-edit"></span> Edit
                    </div>
                    <a class="text-danger pointer pr-1" href="@Url.Action("DeleteEvent", "Dashboard", new { eventId = Model.Id})" onclick="return confirm('Are you sure you want to delete this event? This will remove all future event reminders if it is an annual event.');">
                        <span class="fas fa-trash"></span> Delete
                    </a>
                </div>
            </div>
        </div>
    </div>