@model List<LNGCore.Domain.Database.Event>
@{
    ViewData["Title"] = "All Events";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card semi-transparent">
            <div class="card-header semi-transparent">
                <h3 class="m-0 float-left">All Events</h3>
                <a class="float-right pointer text-dark" href="#">
                    <span onclick="editEvent(0);" class="fas fa-plus-square fa-2x"></span>
                </a>
            </div>
            <div class="card-body">
                @if (Model.Any())
                {
                    var index = 0;
                    foreach (var eventItem in Model.OrderByDescending(o => o.EventDate))
                    {
                        var recurringDate = new DateTime(DateTime.Now.Year, eventItem.EventDate.Month, eventItem.EventDate.Day);
                        <div class="@(index > 0 ? " pt-2" : "pt-0" )">
                            <div class="card semi-transparent">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <h3>@eventItem.EventName</h3>
                                            @if (eventItem.Recurring)
                                            {
                                                <h6 class="text-warning">
                                                    <i>Recurring Event</i>
                                                </h6>
                                            }
                                        </div>
                                        <div class="col-lg-6">
                                            <h5 class="text-info">
                                                @Html.Raw($"Approximately <strong>{((eventItem.Recurring ? recurringDate : eventItem.EventDate) - DateTime.Now).Days}</strong> days until event.")
                                            </h5>
                                            @eventItem.EventDescription
                                        </div>
                                        <div class="col-lg-3 text-lg-right">
                                            @if (eventItem.Recurring)
                                            {
                                                <div class="text-muted">
                                                    <i>Original Date: @($"{eventItem.EventDate:d}")</i>
                                                </div>
                                            }
                                            <span class="fas fa-clock"></span><span class="pl-1">@($"{(eventItem.Recurring ? recurringDate : eventItem.EventDate):d}")</span>
                                            <div class="text-info pointer pr-1" onclick="editEvent(@eventItem.Id);">
                                                <span class="fas fa-edit"></span> Edit
                                            </div>
                                            <a class="text-danger pointer pr-1" href="@Url.Action("DeleteEvent", "Dashboard", new { eventId = eventItem.Id})" onclick="return confirm('Are you sure you want to delete this event? This will remove all future event reminders if it is an annual event.');">
                                                <span class="fas fa-trash"></span> Delete
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        index++;
                    }
                }
                else
                {
                    <h3>No upcoming events available.</h3>
                }
            </div>
        </div>
    </div>
</div>
<script>
    function editEvent(eventId) {
         $.ajax({
            url: "@Url.Action("EditUpcomingEvent", "Dashboard", new { eventId = "__EID__" })".replace("__EID__", eventId),
            success: function (html) {
                $("#bs-modal-md .modal-body").html(html);
                $("#bs-modal-md").modal("show");
            }
        });
    }
</script>